# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
.vs/
*.njsproj.user
*.npmcache
*.mtj.tmp
*.vjsproj.user

# StyleCop files
StyleCopReport.xml

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Rider files
.idea/

# Mac files
*.DS_Store

# BepInEx specific
## Ignore publicized assemblies if generated locally
publicized_assemblies/

# Optional: Ignore local config files if you don't want to commit your specific test settings
# BepInEx/config/Chibranche.NoUpgradeReset.cfg

# Optional: Ignore the built plugin DLL if copied locally for testing (better to build to a separate dir)
# NoUpgradeReset.dll
